

.open-sans-normal{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* all */
body{
    margin: 50px;
    background-color: rgb(200, 229, 255);
}
.text-color{
    color: rgb(105, 105, 105);}

/* 1. Banner Section */
.s1{
    background-color: rgb(155, 196, 196);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 50px 100px 50px;
    border: none;
    
    
    border-radius: 30px;
}
.s1-d1{
    
}
.s1-img{
    width: 450px;
    height: 400px;
}
.s1-h1{
    font-size: 24px;
    color: rgb(105, 103, 103);
}
.s1-h2{
    font-size: 56px;
}
.s1-b1{
    font-size: 18px;
    background-color: rgb(17, 146, 107);
    height: 50px;
    border: none;
    border-radius: 10px;
    padding: 17px 34px 17px 34px;
    color: beige;
}


/* 2. The Vision of Future */
.s2{
    margin-top: 100px;
}
.s2-d{
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
.s2-h{
    font-size: 20px;
}
.s2-p{
    font-size: 16px;
    color: rgb(110, 110, 110);
}
.s2-d1{
    background-color: rgb(159, 160, 161);
    border-radius: 20px;
    padding: 30px 30px 30px 30px;
    box-shadow: 10px 10px 20px rgb(110, 110, 110) ;
}
.s2-d2{
    background-color: rgb(255, 222, 179);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 10px 10px 20px rgb(110, 110, 110) ;
}
.s2-d3{
    background-color: aquamarine;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 10px 10px 20px rgb(110, 110, 110) ;
}
.s2-d-b1{
    padding: 15px 30px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    border: none;
}
.s2-d-b2{
    padding: 15px 30px;
    background-color: rgb(21, 255, 0);
    color: white;
    border-radius: 10px;
    font-size: 16px;
    border: none;
}
.s2-d-b3{
    padding: 15px 30px;
    background-color: rgb(255, 102, 0);
    color: white;
    border-radius: 10px;
    font-size: 16px;
    border: none;
}
.s2-dd{
    background-color: rgb(255, 255, 255);
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    padding: 30px 20px;
    border-radius: 20px;
    margin-top: 30px;
}
.s2-dd-p{
    font-weight: bolder;
}

/* 3. Recent News */
.s3{
    margin-top: 100px;
}
.s3-d1{
    display: flex;
    gap: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    margin-top: 20px;
    padding: 20px 30px;
}
.s3-images{
    border-radius: 20px;
}

/* 4. Donate For Bangladesh */
.s4{
    text-align: center;
    margin-top: 69px;
    margin-bottom: 10px;
}
.s4-d1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;

}
.s4-d1 :hover{
    background-color: crimson;
}
.s4-d2{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 25px 50px;
    font-size: larger;
    font-weight: bolder;

}
.s4-in{
    width: 800px;
    height: 50px;
    border: none;
    text-align: center;
    margin-bottom: 30px;
}

/* section-5 */
.s5{
    background-color: aquamarine;
    text-align: center;
    padding: 40px 40px;
    border-radius: 50px;
    margin-top: 60px;
}
.s5-in{
    width: 600px;
    height: 50px;
    border-radius: 50px 0px 0px 50px;
    border: none;
    padding: 0px 20px;
}
.s5-b{
    width: 100;
    height: 50px;
    border-radius: 0px 50px 50px 0px;
    padding: 0px 20px;
    font-size: medium;
    border: none;
    background-color: rgb(20, 134, 35);
    color: aliceblue;
}
.s5-f{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.s5-h{
    font-weight: bolder;
}
.s5-p{
    
    justify-content: center;
    text-align: center;
}